<p>Hi!</p>

<p>You have received a response in your advert <%=@advert.title %>. This is the response by <%= @response[:name] %></p>

<p><%= @response[:body] %></p>

<p>If you want to answer this, you can send an email to <%= @user.email %>.</p>
