<!DOCTYPE html>
<html>
<head>
  <title>LookingforaCreative</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <h1>Looking for a Creative</h1>
    <p>Want to do a creative IT project? Find here your ideal partners</p>
    <nav>
      <ul>
        <li>
          <a href="">Login</a>
        </li>
        <li>
          <a href="">Sign up</a>
        </li>
        
      </ul>
    </nav>
  </header>
  <%= yield %>
  
</body>
</html>
